/* - -- - -- -- - --- - VARIABLER - --- - -- -- - -- - */
:root {
    --hvit: #FFF;
    --mLilla: #AC7DA0;
    --lLilla: #F2D8F2;
    --grå: #F3F3F3;
    --svart: #000;
    --valgt: #EF24A1;
}

/* - -- - -- -- - --- - MASKER - --- - -- -- - -- - */
.maskeLogo {
    background-color: #000;
    -webkit-mask: url(bilder/logo.svg) no-repeat center;
    mask: url(bilder/logo.svg) no-repeat center;
}

.maskeHandlevogn {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    z-index: 900;
    background-color: #000;
    -webkit-mask: url(bilder/handlevogn.svg) no-repeat center;
    mask: url(bilder/handlevogn.svg) no-repeat center;
    cursor: pointer; 
    width: 2rem;
    height: auto;
    margin: 0 0.5rem 0rem 0;
}

.maskeHandlevognStor {
    background-color: #000;
    -webkit-mask: url(bilder/handlevogn.svg) no-repeat center;
    mask: url(bilder/handlevogn.svg) no-repeat center;
    cursor: pointer; 
    width: 2px;
    height: auto;
}

/*______ Scrollehjul ______*/
/* Gjemmer bort scrollehjulet for Chrome, Safari og Opera */
html::-webkit-scrollbar {
    display: none;
}
main::-webkit-scrollbar {
    display: none;
}

/* Gjemmer bort scrollehjulet for IE, Edge og Firefox */
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* - -- - -- -- - --- - GENERELT - --- - -- -- - -- - */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: 'Bellefair', serif;
    background-color: var(--hvit);
    color: var(--svart);
}

/* --- - -- - --- NAVBAR --- - -- - --- */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--mLilla);
    height: 4rem;
}

.svgBilde {
    height: 3em;
    width: auto;
    margin: 0.5em;
}

.logo {
    height: 3em;
}

.navbar2 {
    display: flex; 
    justify-content: left;
    background-color: var(--lLilla);
}

.navbar2 div {
    padding: 0.5rem 0 0.5rem 6vw;
}

.navbar2 div a h4 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

.navbar2 div:nth-child(5) a{
    opacity: 0.5;
    cursor: default;
    text-decoration: none;
}

.navbar2 a {
    text-decoration: none;
    color: var(--svart);
    cursor: pointer;
}

.navbar2 a:hover {
    text-decoration: underline;
}

.navbar2 .navknapp.valgt {
    color: var(--valgt);
}

.navbar2 .navknapp.valgt:hover {
    text-decoration: underline;
    text-decoration-color: var(--valgt);
}

.beholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 0 1em 0;
}

.produkt {
    position: relative;
    margin: 1em 1em 1em 1em;
    padding: 1rem;
    background-color: var(--grå);
}


.produkt a {
    color: var(--svart);
}

a {
    text-decoration: none;
    color: var(--svart);
}

/* --- - -- - --- PRODUKTER --- - -- - --- */
main {
    margin: 4em 10vw 1em 10vw;
}

.prod-bilde {
    width: 12rem;
}

.prod-og-handlevogn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prod-og-handlevogn h3 {
    font-size: 1.25em;
    text-decoration: none;
    margin: 0 0 0.5rem 0;
}

/* --- - -- - --- FILTER --- - -- - --- */
.filterDiv {
    display: none;
}

.show {
    display: block;
}

.valgt {
    background-color: none;
    color: var(--valgt);
}

/* - -- - -- -- - --- - HANDLEKURV - --- - -- -- - -- - */
.handle-beholder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem 1rem 0;
    width: 100%;
}

.kurv-produkt {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-top: 0.09rem solid var(--svart);
}

.kurv-produkt:last-child {
    border-bottom: 0.09rem solid var(--svart);
}

.kjøp-flex {
    display: flex;
    justify-content: flex-end;
}

.kjøp {
    background-color: var(--lLilla);
    border: none;
    padding: 2.5vh 5vw;
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    margin-right: 0rem;
    margin-left: auto;
    cursor: pointer;
}

.fjern-alt:hover {
    padding: 0;
    display: inline;
    cursor: pointer;
    color:var(--valgt);
}

.handlekurv-ti {
    padding-bottom: 1rem;
}

.kurv-produkt div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Velge produktet */
.kurv-produkt h3:first-child {
    min-width: 8rem;
}

/* Velge prisen */
.kurv-produkt h3:last-child {
    min-width: 6rem;
    text-align: right;
}

/* --- - -- - --- PRODUKT --- - -- - --- */
.legg-til-handlekurv {
    background-color: var(--lLilla);
    border: none;
    padding: 2.5vh 5vw;
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    cursor: pointer;
}

.prod-besk-beholder {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 1rem;
    width: 100%;
    place-items: center;
}

.pris {
    margin: 2rem 0 0.25rem 0;
    font-size: 1.05rem;
}

.prod-p {
    text-align: left;
    width: 50%;
    margin: auto;   
    font-size: 1.05rem;
}

.hjerte {
    height: 4rem;
    width: auto;
    cursor: pointer;
    opacity: 0.5;
}

.knapp-hj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 0 0 0;
}

.produkt-bilde {
    padding: 0 1.5rem 0 0;
}

.ikke-bilde {
    padding: 0 0 0 1.5rem;
}

.ai-gen {
    font-size: 1rem;
}

.handlekurv .maskeHandlevogn {
    height: 2.5rem;
    width: auto;
    top: -0.01rem;
}

.tilbake {
    border: none;
    margin: 2rem 0 0 0;
    padding: 2.5vh 5vw;
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    cursor: pointer;
}

.takk {
    text-align: center;
}

.smil {
    width: 10rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

@media only screen and (max-width: 700px) {
    .produkt {
        position: relative;
        margin: 1em 0 1em 0;
        padding: 1rem;
        background-color: var(--grå);
    }

    .prod-besk-beholder {
        position: relative;
        flex-direction: column;
        place-items: center;
        margin: 1rem 0 2rem 0;
        padding: 0;
    }

    .produkt-bilde {
        padding: 0;
    }

    div .ikke-bilde {
        padding: 0;
    }

    .prod-p  {
        width: 80%;
    }

    .hjerte {
        position: absolute;
        top: -2rem;
        right: 0.5rem;
    }

    .legg-til-handlekurv {
        display: block;
        width: 90%;
    }

    .knapp-hj {
        display: block;
        min-width: 80%;
        width: 60vw;
    }
}