/* - -- - -- -- - --- - VARIABLER - --- - -- -- - -- - */
:root {
    --hvit: #FFF;
    --mLilla: #AC7DA0;
    --lLilla: #F2D8F2;
    --grå: #F3F3F3;
    --svart: #000;
    --valgt: #EF24A1;
}

/* - -- - -- -- - --- - MASKER - --- - -- -- - -- - */
.maskeLogo {
    background-color: #000;
    -webkit-mask: url(/bilder/logo.svg) no-repeat center;
    mask: url(/bilder/logo.svg) no-repeat center;
}

.maskeHandlevogn {
    background-color: #000;
    -webkit-mask: url(/bilder/handlevogn.svg) no-repeat center;
    mask: url(/bilder/handlevogn.svg) no-repeat center;
}

/* - -- - -- -- - --- - GENERELT - --- - -- -- - -- - */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: 'Bellefair', serif;
    background-color: var(--hvit);
    color: var(--svart);
}

/* - -- - --- NAVBAR --- - -- - */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--mLilla);
}

.svgBilde {
    height: 4em;
    width: auto;
    margin: 0.5em;
}

.logo {
    height: 3em;
}

.navbar2{
    display: flex; 
    justify-content: left;
    background-color: var(--lLilla);
}

.navbar2 div {
    padding: 0.5rem 0 0.5rem 6rem;
}

h4 {
    font-size: 20px;
}

.navbar2 div:nth-child(5) a{
    opacity: 0.5;
    cursor: default;
}

.navbar2 a {
    text-decoration: none;
    color: var(--svart);
    cursor: pointer;
}