/* - -- - -- -- - --- - VARIABLER - --- - -- -- - -- - */
:root {
    --hvit: #FFF;
    --mLilla: #AC7DA0;
    --lLilla: #F2D8F2;
    --grå: #F3F3F3;
    --svart: #000;
    --valgt: #EF24A1;
}

/* - -- - -- -- - --- - MASKER - --- - -- -- - -- - */
.maskeLogo {
    background-color: #000;
    -webkit-mask: url(/bilder/logo.svg) no-repeat center;
    mask: url(/bilder/logo.svg) no-repeat center;
}

.maskeHandlevogn {
    background-color: #000;
    -webkit-mask: url(/bilder/handlevogn.svg) no-repeat center;
    mask: url(/bilder/handlevogn.svg) no-repeat center;
    cursor: pointer;
}

/*______ Scrollehjul ______*/
/* Gjemmer bort scrollehjulet for Chrome, Safari og Opera */
html::-webkit-scrollbar {
    display: none;
}
main::-webkit-scrollbar {
    display: none;
}

/* Gjemmer bort scrollehjulet for IE, Edge og Firefox */
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* - -- - -- -- - --- - GENERELT - --- - -- -- - -- - */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: 'Bellefair', serif;
    background-color: var(--hvit);
    color: var(--svart);
}

/* --- - -- - --- NAVBAR --- - -- - --- */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--mLilla);
}

.svgBilde {
    height: 4em;
    width: auto;
    margin: 0.5em;
}

.logo {
    height: 3em;
}

.navbar2 {
    display: flex; 
    justify-content: left;
    background-color: var(--lLilla);
}

.navbar2 div {
    padding: 0.5rem 0 0.5rem 6vw;
}

.navbar2 div a h4 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

.navbar2 div:nth-child(5) a{
    opacity: 0.5;
    cursor: default;
    text-decoration: none;
}

.navbar2 a {
    text-decoration: none;
    color: var(--svart);
    cursor: pointer;
}

.navbar2 a:hover {
    text-decoration: underline;
}

.navbar2 .navknapp.valgt {
    color: var(--valgt);
}

.navbar2 .navknapp.valgt:hover {
    text-decoration: underline;
    text-decoration-color: var(--valgt);
}

.beholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 1em 1em 0;
}

.produkt {
    margin: 1em 2em 1em 0;
    padding: 1rem;
    background-color: var(--grå);
}

/* --- - -- - --- PRODUKTER --- - -- - --- */
main {
    margin: 4em 10vw 1em 10vw;
}

.prod-bilde {
    padding: 1rem 0 0 0;
    width: 12rem;
}

.prod-og-handlevogn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prod-og-handlevogn h3 {
    font-size: 1.25em;
    margin: 0.5em 0 0 0;
}

/* --- - -- - --- FILTER --- - -- - --- */
.filterDiv {
    display: none;
}

.show {
    display: block;
}

.valgt {
    background-color: none;
    color: var(--valgt);
}

/* - -- - -- -- - --- - HANDLEKURV - --- - -- -- - -- - */
.handle-beholder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem 1rem 0;
    width: 100%;
}

.kurv-produkt {
    padding: 1.5rem;
    border-top: 0.09rem solid var(--svart);
}

.kurv-produkt:last-child {
    border-bottom: 0.09rem solid var(--svart);
}

.kjøp {
    background-color: var(--lLilla);
    border: none;
    padding: 2.5vh 5vw;
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    margin-left: 62.8vw;
}

.fjern-alt:hover {
    display: inline;
    cursor: pointer;
    color:var(--valgt);
}

.handlekurv-ti {
    padding-bottom: 1rem;
}